@import "styles";

.tabcontent{
    display: none;
}

.all-recipes{
    margin-top: $spacing-xxl;
    display: flex;
    flex-direction: column;
    .recipe-card{
        background-color: $color-grey-light;
        padding: $spacing-sm;
        margin-bottom: $spacing-xl;
        a{
            text-decoration: none;
        }
        h2{
            color: $color-primary;
            text-align: center;
        }
        p{
            color: $color-text;
            font-weight: 700;
        }

        .img-wrapper{
            img{
                width: 100%;
            }

        }
        .card-text-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .card-text{
                text-align: center;
                img{
                    width: 10%;
                }
                p{
                    padding: $spacing-xs 0em 0em $spacing-sm;
                }

            }
        }
    }
}

.ads{
    img{
        width: 100%;
    }
}

@media only screen and (min-width: map-get($breakPoints, lg)) {
    .all-recipes{
        flex-direction: row;
        flex-wrap: wrap;
        gap: $spacing-md;
        .recipe-card{
            flex: 45%;
        }
    }
}