@import "styles";

.tabcontent{
    display: none;
}

.all-recipes{
    margin-top: $spacing-xxl;
    display: flex;
    flex-direction: column;

}



.filter-wrapper{
    display: none;
}

.filter-mobile{
    button{
        width: 100%;
    }
    .show-filters{
        display: none;
        padding-top: $spacing-md;
        .show-filters-wrapper{
            .time-line{
                img{
                    width: 100%;
                }
            }
            .difficulty{
                .button-wrapper{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    button{
                        flex: 20%;
                    }
                }
            }
            .cuisine{
                .cuisine-wrapper{
                    button{
                        margin-top: $spacing-sm;
                        width: 5rem;
                        height: 5rem;
                        border-radius: $round-full;
                        padding: 0rem;
                    }
                }
            }
            .ingredients-wrapper{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                button{
                    flex: 10%;
                    margin: $spacing-xs;
                }
            }
        }
    }
}

.ads{
    img{
        width: 100%;
    }
}

@media only screen and (min-width: map-get($breakPoints, lg)) {
    .all-recipes{
        flex-direction: row;
        flex-wrap: wrap;
        gap: $spacing-md;
        .recipe-card{
            flex: 45%;

        }
    }

    .filter-wrapper{
        display: block;
        .filter{
            .tab{
                display: flex;
                flex-direction: row;
                button:not(:first-child){
                    padding: 1rem;
                    margin-left: $spacing-sm;
                }
            }
        }
        .tabcontent-wrapper{
            background-color: $color-grey-light;
            margin-top: $spacing-md;
            .tabcontent{
                padding: $spacing-md;
                .time-line-desktop{
                    img{
                        width: 70%;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                .cuisine-wrapper-desktop{
                    button{
                        margin-top: $spacing-sm;
                        width: 6rem;
                        height: 6rem;
                        border-radius: $round-full;
                        padding: 0rem;
                    }
                }
            }
        }

    }

    .filter-mobile{
        display: none;
    }

    .ads{
        img{
            width: 80%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media only screen and (min-width: map-get($breakPoints, xl)) {
    .all-recipes{
        flex-direction: row;
        flex-wrap: wrap;
        gap: $spacing-md;
        .recipe-card{
            flex: 20%;

        }
    }

    .ads{
        img{
            width: 50%;
        }
    }

    .filter-wrapper{   
        .tabcontent-wrapper{
            .tabcontent{
                .time-line-desktop{
                    img{
                        width: 40%;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }

    }
}