@import "styles";

.ads {
    img {
        width: 100%;
    }
}

.top-recipes-wrapper {
    .top-recipe {
        .img-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            img {
                &:first-child {
                    flex: 100%;
                    width: 100%;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    flex: 50%;
                    width: 50%;
                }
            }
        }
    }
}



.button-wrapper,
.button-wrapper-bottom {
    margin-bottom: $spacing-sm;
    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.just-landed-recipes {
    margin-top: $spacing-xxl;
    .all-recipes {
        display: flex;
        flex-direction: column;
    }
}

.influencer-favourite {
    img {
        width: 100%;
    }
}

@media only screen and (min-width: map-get($breakPoints, lg)) {
    .button-wrapper {
        display: none;
    }

    .img-wrapper {
        img {
            width: 70%;
        }
    }

    .button-wrapper-bottom {
        margin-top: $spacing-xxl;
        button {
            width: 50%;
        }
    }
    .just-landed-recipes {
        .all-recipes {
            flex-direction: row;
            flex-wrap: wrap;
            gap: $spacing-md;
            .recipe-card {
                flex: 45%;
            }
        }
    }
    .ads {
        img {
            width: 80%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .influencer-favourite {
        img {
            display: block;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media only screen and (min-width: map-get($breakPoints, xl)) {
    .top-recipes-wrapper {
        .top-recipe {
            .img-wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                img {
                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3) {
                        flex: 0%;
                        width: 30%;
                    }
                }
            }
        }
    }

    .just-landed-recipes {
        .all-recipes {
            flex-direction: row;
            gap: $spacing-md;
            .recipe-card {
                flex: 20%;
  
            }
        }
    }

    .ads {
        img {
            width: 50%;
        }
    }

    .influencer-favourite {
        img {
            display: block;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
