@import "styles";

body {
    background-color: $color-secondary;
}

main {
    transform: translate(0%);
    // transform: translate(0%, 30%);
}

#signup {
    display: none;
}

.tab {
    display: flex;
    position: absolute;
    top: 0;
    width: $width-full;

    button {
        width: $width-half;

        &.active {
            background-color: $color-secondary;
            color: white;
        }
    }
}

.tabcontent {
    padding-top: $spacing-xxl;

    h3 {
        text-align: center;
        margin-top: 2rem;
    }
}

img {
    width: $width-xs;
    margin: 1rem auto auto;
    display: block;
}

.login-social {
    display: flex;
    justify-content: center;
    button {
        width: $width-full;
    }
}

.input-modal {
    display: flex;
    flex-direction: column;
    input {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: $round-xs;
    }
    button {
        width: $width-full;
    }

    .caption {
        text-align: center;
        color: white;
        font-weight: 400;
        margin-top: $spacing-md;
    }
}

@media (min-width: 768px) {
    body {
        background-color: white;
    }

    main {
        background-color: $color-secondary;
        width: 600px;
        padding: $spacing-xxl;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-56%, -58%);
        box-shadow: 15px 30px 35px $color-primary;
        -webkit-perspective: 300px;
        perspective: 300px;
    }
    .tabcontent {
        padding-top: 0;
    }

    .tab {
        margin-left: -$spacing-xxl;
    }

    .input-modal,
    .login-social {
        width: calc($width-full - $width-sm);
        margin: 1rem auto auto;
    }
}
