@import "var";
@import "nav";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

main {
    margin: $spacing-xxl;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

hr {
    margin: $spacing-md 0;
    opacity: 0.4;
}

// TYPOGRAPHY
html, body {
    font-family: $font-main;
    color: $color-text
}

//page-header
h1 {
    font-family: $font-headers;
    text-transform: uppercase;
    font-size: 4rem;
}

//section-header
h2 {
    font-family: $font-headers;
    text-transform: uppercase;
    font-size: 3.8rem;
}

//paragraph-header
h3 {
    font-family: $font-headers;
    text-transform: uppercase;
    margin-bottom:1.2rem;
}

//grid-homepageitem header
h4 {
    font-family: $font-headers;
    text-transform: uppercase;
    margin-bottom:1.2rem;
}

//card header
h5 {
    font-family: $font-main;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom:1.2rem;
}

.caption {
    font-size: .8rem;
    font-family: $font-main;
    color: $color-secondary;
    font-weight: 600;

}

p {
    line-height: 1.4;
}


// BUTTONS
button {
    display: inline-block;
    padding: $spacing-sm $spacing-xl;
    text-transform: uppercase;
    font-size: .8rem;
    cursor: pointer;
    transition: .18s ease-out;

    &.button-primary {
        background-color: $color-text;
        color: white;
        border: none;

        &:hover {
            background-color: $color-text-hover;
        }
    }

    &.button-secondary {
        background-color: white;
        color: $color-text;
        border: 1px solid $color-secondary;

        &:hover {
            background-color: $color-secondary;
            color: white;
        }
    }

}


// GRAPHICS
.icon {
    width: 30px;
    height: 30px;
}