@import "var";
@import "nav";
@import "footer";
@import "recipecard";

// LAYOUT
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

main {
    margin: $spacing-sm;
}

@media only screen and (min-width: map-get($breakPoints, lg)) {
    main {
        margin: $spacing-xxl;
    }
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

hr {
    margin: $spacing-md 0;
    opacity: 0.4;
}

section {
    padding-top: $spacing-xxl;
}

// TYPOGRAPHY
html,
body {
    font-family: $font-main;
    color: $color-text;
}

//page-header
h1 {
    font-family: $font-headers;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
}

//section-header
h2 {
    font-family: $font-headers;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

article {
    h2 {
        text-align: left;
    }
}

//paragraph-header
h3 {
    font-family: $font-headers;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

//grid-homepageitem header
h4 {
    font-family: $font-headers;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
}

//card header
h5 {
    font-family: $font-main;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.caption {
    font-size: 0.8rem;
    font-family: $font-main;
    color: $color-secondary;
    font-weight: 600;
}

p {
    line-height: 1.4;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: map-get($breakPoints, lg)) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.8rem;
    }
    h4 {
        font-size: 1.8rem;
    }
}

// BUTTONS
button {
    display: inline-block;
    padding: $spacing-sm $spacing-xl;
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.18s ease-out;

    &.button-primary {
        background-color: $color-text;
        color: white;
        border: none;

        &:hover {
            background-color: $color-text-hover;
        }
    }

    &.button-secondary {
        background-color: white;
        color: $color-text;
        border: 1px solid $color-secondary;

        &:hover {
            background-color: $color-secondary;
            color: white;
        }
    }
}

// GRAPHICS
.icon {
    width: 20px;
    height: 20px;
}

.close-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}
